.version-body img {
    max-height: 250px;
}

.version-description {
    padding: 15px;
    border: 1px solid #9E9E9E;
}

.version-title {
    text-align: left;
    background: transparent;
    width: 96%;
}

.version-resume .badge {
    font-size: 15px;
}

.version-ico {
    width: 3%;
    display: inline-block;
}