.version-body img {
    max-height: 250px;
}

.version-description {
    padding: 15px;
    border: 1px solid #9E9E9E;
}

.version-title {
    text-align: left;
    background: transparent;
    width: 100%;
}

.version-resume .badge {
    font-size: 15px;
}

.version-ico {
    font-size: 15px;
}

.filepreview {
    text-align: center;
}

.statusBadge {
    padding: 8px 12px;
    min-width: 120px;
}